body {
  font-family: "Comic Sans", Helvetica, Arial;
  background-color: #FF0000;
  color: #ffD700;
}

#container {
  margin: 0 auto;
  width: 860px;
}

h2 {
  clear: both;
}

#error {
  display: none;
  color:  #ff0f83;
  border: 12px solid #ff0f83;
  padding: 5px;
  margin: 5px;
}
